<!DOCTYPE html>
<html ng-app="MovieApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <title>Movie Search Engine</title>
        <link rel="stylesheet" href="assets/css/style.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

        <script src="assets/js/movie-app-controller.js"></script>
    </head>
    <body ng-controller="MovieAppCtrl">
        <div class="container header">
            <span id="pageTitle">Movie Search Engine</span>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12 input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text"
                               class="form-control"
                               placeholder="Enter movie name"
                               ng-model="Search"
                               ng-keyup="GetMoviesData()">
                    </div>
                </div>
            </div>
        </div>
        <div class="container movies">
            <div ng-hide="MovieData.Search && MovieData.Search.Response !== 'True'"
                 class="col-md-12 alert alert-info">
                <span class="glyphicon glyphicon-info-sign"></span>
                <strong>Info!</strong> No movie found.
            </div>
            <div>
                <div ng-repeat="movie in MovieData.Search"
                     class="movie"
                     target="_blank"
                     ng-href="{{ movie.Poster }}"
                     data-title="{{ movie.Title }}"
                     data-link="http://www.imdb.com/title/{{ movie.imdbID }}"
                     data-alt="{{ movie.Title }}">
                    <div class="col-md-3">
                        <img ng-src="{{ movie.Poster }}"
                             title="{{ movie.Title }}"
                             on-error-src="assets/images/image-not-available.jpg">
                    </div>
                    <div class="col-md-8">
                        <span>{{ movie.Title }} ({{ movie.Year }})</span>
                        <button class="moreDetailsButton btn btn-primary"
                                onclick="getModal(this)"
                                ng-click="GetMovieData(movie.imdbID)">
                            <span class="glyphicon glyphicon-film"></span>
                            More details
                        </button>
                        <span id="youtube">
                            <a ng-href="https://www.youtube.com/results?search_query={{ movie.Title }}">
                                Look on YouTube for videos related to this movie
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <span id="mainTitle">{{ SingleMovieData.Title }} ({{ SingleMovieData.Year }})</span>
                    <span>
                        {{ SingleMovieData.Runtime }} | {{ SingleMovieData.Genre }} | {{ SingleMovieData.Released }}
                    </span>
                </div>
                <div class="container modal-body">
                    <div class="col-md-3">
                        <img ng-src="{{ SingleMovieData.Poster }}"
                             title="{{ SingleMovieData.Title }}"
                             on-error-src="assets/images/image-not-available.jpg">
                        <a id="imdbCheckLink"
                           ng-href="https://www.imdb.com/title/{{ SingleMovieData.imdbID }}">
                            Check this movie on IMDb
                        </a>
                    </div>
                    <div class="col-md-7">
                        <span class="plot">{{ SingleMovieData.Plot }}</span>
                        <span><strong>Director:</strong> {{ SingleMovieData.Director }}</span>
                        <span><strong>Writer:</strong> {{ SingleMovieData.Writer }}</span>
                        <span><strong>Production:</strong> {{ SingleMovieData.Production }}</span>
                        <span>
                            <strong>Stars:</strong>
                            {{ SingleMovieData.Actors }}
                            <a ng-href="https://www.imdb.com/title/{{ SingleMovieData.imdbID }}/fullcredits">
                                See full cast & crew »
                            </a>
                        </span>
                        <span><strong>Country:</strong> {{ SingleMovieData.Country }}</span>
                        <span><strong>Language:</strong> {{ SingleMovieData.Language }}</span>
                        <span><strong>Awards:</strong> {{ SingleMovieData.Awards }}</span>
                        <span>
                            <span ng-repeat="rating in SingleMovieData.Ratings">
                                <strong>{{ rating.Source }}:</strong> {{ rating.Value }}
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped"
                                         role="progressbar"
                                         aria-valuenow="{{ prepareValue(rating.Value) }}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         ng-style="prepareValueForStyle(rating.Value)">
                                        {{ prepareValue(rating.Value) }}%
                                    </div>
                                </div>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/js/modal.js"></script>
    </body>
</html>
