<!DOCTYPE html>
<html ng-app="MovieApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <title>Movie Search Engine</title>
        <link rel="stylesheet" href="assets/css/style.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

        <script src="assets/js/movie-app-controller.js"></script>
    </head>
    <body ng-controller="MovieAppCtrl">
        <div class="container">
            <h3>Movie Search Engine</h3>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="name" class="form-control" placeholder="Enter movie name" ng-model="Search" ng-keyup="GetMoviesData()">
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-default" ng-click="GetMoviesData()">Submit</button>
                    </div>
                </div>
            </div>
            <div ng-hide="MovieData.Search && MovieData.Search.Response !== 'True'" class="col-md-4 alert alert-info">
                <span class="glyphicon glyphicon-info-sign"></span>
                <strong>Info!</strong> No movie found.
            </div>
        </div>
        <div class="container">
            <div>
                <div ng-repeat="movie in MovieData.Search" class="movie" target="_blank" ng-href="{{ movie.Poster }}" data-title="{{ movie.Title }}" data-link="http://www.imdb.com/title/{{ movie.imdbID }}" data-alt="{{ movie.Title }}">
                    <div class="col-md-2">
                        <img ng-src="{{ movie.Poster }}" title="{{ movie.Title }}" on-error-src="assets/images/image-not-available.jpg">
                    </div>
                    <div class="col-md-10">
                        <span>{{ movie.Title }} ({{ movie.Year }})</span>
                        <button class="btn btn-primary" onclick="getModal(this)" ng-click="GetMovieData(movie.imdbID)">
                            Click here for more info...
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>{{ SingleMovieData.Title }} ({{ SingleMovieData.Year }})</h2>
                    <span>{{ SingleMovieData.Runtime }} | {{ SingleMovieData.Genre }} | {{ SingleMovieData.Released }}</span>
                </div>
                <div class="container modal-body">
                    <div class="col-md-3">
                        <img ng-src="{{ SingleMovieData.Poster }}" title="{{ SingleMovieData.Title }}" on-error-src="assets/images/image-not-available.jpg">
                    </div>
                    <div class="col-md-7">
                        <span class="plot">{{ SingleMovieData.Plot }}</span>
                        <span><strong>Director:</strong> {{ SingleMovieData.Director }}</span>
                        <span><strong>Writer:</strong> {{ SingleMovieData.Writer }}</span>
                        <span>
                            <strong>Stars:</strong>
                            {{ SingleMovieData.Actors }}
                            <a ng-href="https://www.imdb.com/title/{{ SingleMovieData.imdbID }}/fullcredits">See full cast & crew »</a>
                        </span>
                        <span><strong>Country:</strong> {{ SingleMovieData.Country }}</span>
                        <span><strong>Language:</strong> {{ SingleMovieData.Language }}</span>
                        <span><strong>Awards:</strong> {{ SingleMovieData.Awards }}</span>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/js/modal.js"></script>
    </body>
</html>
